
div{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: relative;
    padding-left: 10px;
    width: 23%;
    height: 300px;
    margin: auto;
    font-size: 25px;
}
main{
    margin-top: 60px;
    display: flex;
}

.normal{
   
    background-color: #943126;
    color: #FFC300;

}
.negro{
  
    background-color: black;
    color: white;
}
