
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&family=Montserrat:ital,wght@1,200&display=swap');


.navegador{
    text-align: right;
    background-color: rgb(231, 231, 125);
    padding: 30px;
    padding: 50px 30px 20px 10px;  

    padding-top: 10px;
    border:2px solid black;

}

.anclas{
    text-decoration: none;
    color:black;
    font-family: 'Kaisei HarunoUmi', serif;
    font-family: 'Montserrat', sans-serif;
    padding:0.5%;
    background-color: chocolate;
}

.section{
    width: 800px;
    background-color: darkgoldenrod;
    margin-left:auto;
    margin-right: auto;
}