.navbar-right{
    flex: revert;
}
.bg-secondary{
    color: #fff ;
}
.oradores{
    width: 75% !important;
    margin: auto;
}


.comprar{
  
    color: green !important;
}
.txtconce{
    font-size: 0.5em;
    margin-bottom: 0;
}
.pdocumenta{
    font-size: 0.8em;
}
.container-fluid.inicio{
    margin: 0 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/ba1.jpg");
    background-size: cover;
  
}
.izq{
    height: 350px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/honolulu.jpg");  
}
.der{
    background-color: #2c2c2c;
    height: 350px;
} 
.overlay{
    background: rgba(0, 0, 0, 0.5);
    height: 500px;
}
.textos{
    color: #fff;

    float: right;
}
.punteada{
    border-bottom: #262626 dotted 1px;

}
.btn-light {
    color: #fff;
    background-color: transparent !important;
    border-color: #f8f9fa;
}


.dertext{
    font-size: 0.7em;
    font-weight: 300;
}
.form1{
    width: 70%;
    margin: auto;
}
.btn-light:hover {
    color: #000;
    background-color: #f9fafb !important;
    border-color: #f9fafb;
}
.navfooter{
     background: #1d5271;;
     height: 100%;
     padding: 10px;
     width: 100%;

}
.navfooter nav{

width: 100%;
display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.navfooter nav a
{
    font-size: 0.8em;
    font-family: arial,sans-serif;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;

    
}
.navfooter nav a:hover
{

    text-decoration: underline;

}
.navfooter p{
    padding: 7px 30px;
    border-bottom: 1px solid #fafcff ;
    font-size: 1em;
    color: #70757a;
}
nav .row{
    width: 90%;

}
.rcat{
    height: 250px;
}
nav .row .col{
    margin: auto;
}
.btn-success2{
    background-color: #94cc3c;
    border-color: #94cc3c;
    color: #fff;
}
section.oradores{
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .navfooter nav a
{
    font-size: 10px;
    font-family: arial,sans-serif;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;

    
}
.card{
    width: 80%;
    margin: auto;
}
}